<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<style>
		#view-source {
		  position: fixed;
		  display: block;
		  right: 0;
		  bottom: 0;
		  margin-right: 40px;
		  margin-bottom: 40px;
		  z-index: 900;
		}
		</style>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		<link rel="stylesheet" href="{{ asset('css/layout.css') }}">
		<link rel="stylesheet" href="{{ asset('css/user-form.css') }}">
		{% block stylesheets %}
		
		{% endblock %}
		{% block scripts %}{% endblock %}
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
				<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				</div>
				<div class="mdl-layout--large-screen-only mdl-layout__header-row">
			  		<h3>Event Website</h3>
				</div>
				<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				</div>
	
				<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
					{% block sections %}{% endblock %}
					{% import "macros/components.html.twig" as components %}
					{{ components.mdlSearchField() }}
				</div>
			</header>
			<main class="mdl-layout__content">
				{% block content %}{% endblock %}
				{% block footer %}{% endblock %}
			</main>
		</div>
		<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<div id="additionalScripts">
			{% block additionalScripts %}{% endblock %}
		</div>
	</body>
</html>