

{% extends 'base.html.twig' %}
{% import "macros/components.html.twig" as components %}
{% import "macros/elements.html.twig" as elements %}
{% block additionalScripts %}    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


<script src="{{ asset('js/mdl-dropdown-menu.js') }}"></script>
<script src="{{ asset('js/eventForm.js') }}"></script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="{{ asset('css/eventForm2.css')}}" rel="stylesheet" />
<link href="{{ asset('css/mdl-dropdown-menu.css')}}" rel="stylesheet" />
{% endblock %}
{% block sections %}
<a href={{"/"~ locale}} class="mdl-layout__tab is-active">{{"back"|trans({}, 'messages')}}</a>
{% endblock %}
{% block content %}
<div id = "eventForm">
         <div class="mdl-layout__tab-panel is-active" id="eventForm">
            {{ form_start(form) }}
             <div class ="mdl-card mdl-shadow--2dp" style="margin: auto">
      <div class="mdl-card__supporting-text">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
               <!-- Tab Bars -->
               <div class="mdl-tabs__tab-bar">
                  <a href="#en-panel" class="mdl-tabs__tab is-active">EN</a>
                  <a href="#fi-panel" class="mdl-tabs__tab">FI</a>
               </div>
               <div class="mdl-tabs__panel is-active" id="en-panel">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     {{ form_widget(form.translations['en'].name, {'attr':{'class': "mdl-textfield__input"}}) }}
                     {{ form_label(form.translations['en'].name, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
                  </div>
                     
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     {{ form_widget(form.translations['en'].description, {'attr':{'class': "mdl-textfield__input"}}) }}
                     {{ form_label(form.translations['en'].description, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
                  </div>
                 
               </div>
               <div class="mdl-tabs__panel" id="fi-panel">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     {{ form_widget(form.translations['fi'].name, {'attr':{'class': "mdl-textfield__input"}}) }}
                     {{ form_label(form.translations['fi'].name, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
                  </div>
                     
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     {{ form_widget(form.translations['fi'].description, {'attr':{'class': "mdl-textfield__input"}}) }}
                     {{ form_label(form.translations['fi'].description, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
                  </div>

           
               
            </div>
            {# render the task's only field: description #}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
               {{ form_label(form.linkToTrailer, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
               {{ form_widget(form.linkToTrailer, {'attr':{'class': "mdl-textfield__input"}}) }}

            </div>
            <div class="mdl-select mdl-js-select mdl-select--floating-label">
               {{ form_widget(form.eventTypes, {'attr':{'class': "mdl-select__input", 'required': "required"}}) }}
               {{ form_label(form.eventTypes, null, {'label_attr':{'class': "mdl-select__label"}}) }}
            </div>
            <div class="mdl-select mdl-js-select mdl-select--floating-label">
               {{ form_widget(form.categories, {'attr':{'class': "mdl-select__input", 'required': "required"}}) }}
               {{ form_label(form.categories, null, {'label_attr':{'class': "mdl-select__label"}}) }}
            </div>
            
            <h5>{{"presentations"|trans({}, 'messages')}}</h5>
            <ul class="presentations" data-prototype="{{ form_widget(form.presentations.vars.prototype)|e('html_attr') }}">
               {# iterate over each existing presentation and render its only field: name #}
            </ul>
         </div>
      </div>
                 {{form_row(form.save, {'attr':{'class': "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"}}) }}
            {{ form_end(form) }}

   </div>
</div>
{% endblock %}
