{% extends 'base.html.twig' %}

{% import "macros/components.html.twig" as components %}
{% import "macros/elements.html.twig" as elements %}
{% import "macros/mapComponents.html.twig" as mapComponents %}
{% import "macros/eventListItems.html.twig" as eventListItems %}

{% block sections %}

	<a href="#home" class="mdl-layout__tab is-active">{{"home"|trans({}, 'messages')}}</a>
	<a href="#browse" class="mdl-layout__tab">{{"browse"|trans({}, 'messages')}}</a>
	<a href="#profile" class="mdl-layout__tab">{{"profile"|trans({}, 'messages')}}</a>

{% endblock %}

{% block content %}
	<div class="mdl-layout__tab-panel is-active" id="home"></div>
	<div class= "mdl-layout__tab-panel" id="browse">
		{% set title = elements.element("h4", {}, "Browse") %}
		{% set items = [] %}
		{% if events is defined %}
		{% for event in events %}
			{% set items = items|merge([eventListItems.eventListItem(event, locale)]) %}
		{% endfor %}
		{% endif %}
		{% set eventList = eventListItems.eventList(items) %}
		{% set container = components.mdlCardContainer("title", [title, eventList]) %}
		
		{#{% set menu = components.mdlMoreButton("dd", "bottom-left", ["1", "2"]) %}
		{% set dropdownContainer = components.mdlCardContainer(null, [menu]) %}#}
		{{- components.mdlCardSection([container]) }}
	</div>
	<div class="mdl-layout__tab-panel" id="profile">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">

					{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
				</br>
	<a href="{{ path('event_form') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">{{ 'create_new_event'|trans({}, 'messages') }}</a>

            {% else %}
                <div class="mdl-grid">
				  <div class="mdl-cell mdl-cell--6-col">
				  	{% include "@FOSUser/Registration/register_content.html.twig" %}
				  </div>
				  <div class="mdl-cell mdl-cell--6-col">
				  	{% include('@FOSUser/Security/login_content.html.twig') %}
				  </div>
				</div>
        {% endif %}
	</div>
{% endblock %}

{% block footer %}
		<footer class="mdl-mega-footer">
					<div class="mdl-mega-footer--middle-section">
						<div class="mdl-mega-footer--drop-down-section">
							<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
							<h1 class="mdl-mega-footer--heading">Features</h1>
							<ul class="mdl-mega-footer--link-list">
								<li><a href="#">About</a></li>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Partners</a></li>
								<li><a href="#">Updates</a></li>
							</ul>
						</div>
						<div class="mdl-mega-footer--drop-down-section">
							<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
							<h1 class="mdl-mega-footer--heading">Details</h1>
							<ul class="mdl-mega-footer--link-list">
								<li><a href="#">Spec</a></li>
								<li><a href="#">Tools</a></li>
								<li><a href="#">Resources</a></li>
							</ul>
						</div>
						<div class="mdl-mega-footer--drop-down-section">
							<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
							<h1 class="mdl-mega-footer--heading">Technology</h1>
							<ul class="mdl-mega-footer--link-list">
								<li><a href="#">How it works</a></li>
								<li><a href="#">Patterns</a></li>
								<li><a href="#">Usage</a></li>
								<li><a href="#">Products</a></li>
								<li><a href="#">Contracts</a></li>
							</ul>
						</div>
						<div class="mdl-mega-footer--drop-down-section">
							<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
							<h1 class="mdl-mega-footer--heading">FAQ</h1>
							<ul class="mdl-mega-footer--link-list">
								<li><a href="#">Questions</a></li>
								<li><a href="#">Answers</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="mdl-mega-footer--bottom-section">
						<div class="mdl-logo">
							More Information
						</div>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Privacy and Terms</a></li>
						</ul>
					</div>
				</footer>
{% endblock %}