{# Simple card #}
{% macro mdlCardSection(innerHTML = "", shadow = 2) %}
	{% import "macros/elements.html.twig" as elements %}
	{% set attributes = {
			"class":"section--center mdl-grid mdl-grid--no-spacing mdl-shadow--" ~ shadow ~ "dp"
		} %}
	{{ elements.element("section", attributes, innerHTML) }}
{% endmacro %}

{% macro mdlCardContainer(class = "supporting-text", innerHTML = "") %}
	{% import "macros/elements.html.twig" as elements %}
	{% set attributes = {
			"class":"mdl-card__" ~ class|default("supporting-text") ~ " mdl-grid mdl-grid--no-spacing"
		} %}
	{{ elements.element("div", attributes, innerHTML) }}
{% endmacro %}

{% macro mdlButtonRow(list = []) %}
	{% import "macros/elements.html.twig" as elements %}
	{% set attributes = {
			"class":"mdl-card__actions"
		} %}
	{{ elements.element("div", attributes, list) }}
{% endmacro %}

{% macro mdlButton(text = "Button") %}
	<a href="#" class="mdl-button">{{ text|default('Button') }}</a>
{% endmacro %}

{% macro mdlCardGrid(innerHTML = "") %}
	<div class="mdl-grid" >
		{% if innerHTML is iterable %}
			{% for element in innerHTML %}
				{{ element }}
			{% endfor %}
		{% else %}
			{{ innerHTML }}
		{% endif %}
	</div>
{% endmacro %}

{% macro mdlCardCell(sizes = [], innerHTML = "") %}
	{% import "macros/elements.html.twig" as elements %}
	{% set class %}
		mdl-card mdl-cell
		{%- for device, size in sizes -%}
			{#- Add whitespace -#}
			{#- #} {# <= Whitespace -#}
			{%- if device == "default" -%}
				mdl-cell--{{ size }}-col
			{%- else -%}
				mdl-cell--{{ size }}-col-{{ device }}
			{%- endif %}
		{%- endfor -%}
	{%- endset %}
	{{ elements.element("div", {"class":class}, innerHTML) }}
{% endmacro %}

{# Menu #}
{% macro mdlMoreButton(id, menu_position, list = "") %}
	<button id="{{ id }}"
        class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">more_vert</i>
	</button>
	
	<ul class="mdl-menu mdl-menu--{{ menu_position }} mdl-js-menu mdl-js-ripple-effect"
	    {% if "top" in menu_position %}{{ "data-mdl-" }}{% endif %}for="{{ id }}">
		{#- If list's type is array #}
		{%- if list is iterable %}
			{%- for item in list %}
				<li class="mdl-menu__item" tabindex="-1">
					{{- item -}}
				</li>
			{%- endfor %}
		{%- else %}
			<li class="mdl-menu__item" tabindex="-1">
				{{- list -}}
			</li>
		{%- endif %}
	</ul>
{% endmacro %}

{% macro mdlLoginForm() %}
	<div class ="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__supporting-text">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="email">
					<label class="mdl-textfield__label" for="email">E-mail</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="password">
					<label class="mdl-textfield__label" for="password">Password</label>
				</div>
			</form>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect">Log in</button>
		</div>
	</div>
{% endmacro %}

{% macro mdlRegisterForm() %}
	<div class ="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__supporting-text">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="fname">
					<label class="mdl-textfield__label" for="fname">First Name</label>	
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="lname">
					<label class="mdl-textfield__label" for="lname">Last Name</label>	
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="email">
					<label class="mdl-textfield__label" for="email">E-mail</label>	
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="password">
					<label class="mdl-textfield__label" for="password">Password</label>
				</div>
			</form>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect">Register account</button>
		</div>
	</div>
{% endmacro %}

{% macro mdlSearchField() %}

{#BAAAD :( #}
	<form class="mdl-layout__tab_form" style="" action="#">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
		<label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
		<i class="material-icons">search</i>
		</label>
		<div class="mdl-textfield__expandable-holder">
		<input class="mdl-textfield__input" type="text" id="sample6">
		<label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
		</div>
	</div>
	</form>
	{#<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded" data-upgraded=",MaterialTextfield">#}
	{#  <label class="mdl-button mdl-js-button mdl-button--icon" for="search" data-upgraded=",MaterialButton">#}
	{#    <i class="material-icons">search</i>#}
	{#  </label>#}
	{#  <div class="mdl-textfield__expandable-holder">#}
	{#    <input class="mdl-textfield__input" type="text" id="search">#}
	{#    <label class="mdl-textfield__label" for="search">Enter your query...</label>#}
	{#  </div>#}
	{#</div>#}
{% endmacro %}
	