{# General #}
{% macro element(tag, attributes = {}, innerHTML = "", allowInnerHTML = true) %}
    {# Start element with <{{ tag }} attribute1=value1 attribute2=value2 ... #}
    <{{ tag|default('div') }} {#<= Whitespace #}
    {%- for attribute, value in attributes %}
        {{- attribute }}=
        
        {#- Check if number (integer, double,...) or float #}
        {%- if (value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/') %}
            {{- value|number_format }}
        {%- else %}
            "{{ value }}"
        {%- endif %}
     {# <= Whitespace #}
    {%- endfor %}
    
    {# When true, end element with >{{ innerHTML }}</{{ tag }}> #}
    {# When false, end element with /> #}
    {%- if allowInnerHTML %}
        >
        {%- if innerHTML is iterable %}
            {%- for element in innerHTML -%}
                {{- element -}}
            {%- endfor %}
        {%- else -%}
            {{- innerHTML|default('text') -}}
        {%- endif -%}
        </{{ tag|default('text') }}>
    {%- else %}
        />
    {%- endif %}
{% endmacro %}

{# Head #}
{% macro script(src, type = 'text/javascript', innerHTML = "") %}
    {% set attributes = {
            "src":src,
            "type":type
        } %}
    {{ _self.element("script", attributes, innerHTML) }}
{% endmacro %}
{% macro stylesheet(href, rel = 'stylesheet') %}
    {% set attributes = {
            "href":href,
            "rel":rel
        } %}
    {{ _self.element("link", attributes, null, false) }}
{% endmacro %}
{% macro meta(attributes = {}) %}
    {{ _self.element("meta", attributes, null, false) }}
{% endmacro %}