{% macro eventListItem(event, lang = null) %}
    {% import "macros/elements.html.twig" as elements %}
    {%- set span = elements.element("span", {"class":"mdl-list__item-primary-content"}, event.title) %}
    {{ elements.element("li", {"class":"mdl-list__item event-item"}, span) }}
{% endmacro %}

{% macro eventList(items = []) %}
    {%- import "macros/elements.html.twig" as elements %}
    {%- set class = "mdl-list event-list" %}
    {{- elements.element("ul", {"class":class}, items) }}
{% endmacro %}