{% macro locationByAddress(address, locale="en", style={} ) %}
	<iframe width="{{ style.width|default(600)}}" height="{{style.height|default(450)}}" frameborder="{{style.frameborder|default(0)}}" style="border:0"
	src="https://www.google.com/maps/embed/v1/place?q={{address}}&key=AIzaSyCNLqXTX3hs5HT1RCxkNBN2o9wqiZBq7-g&language={{locale}}" allowfullscreen></iframe> 
{% endmacro %}