{% trans_default_domain 'FOSUserBundle' %}
{#{% form_theme form 'form_table_layout.html.twig' %}#}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>



{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class ="user-form mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
    		<h2 class="mdl-card__title-text">{{ "layout.register"|trans }}</h2>
        </div>
        <div class="user-form-card mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_widget(form.username, {'attr': {'class': "mdl-textfield__input" }}) }}
            {{ form_label(form.username, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_widget(form.email, {'attr': {'class': "mdl-textfield__input" }}) }}
            {{ form_label(form.email, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': "mdl-textfield__input" }}) }}
            {{ form_label(form.plainPassword.first, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': "mdl-textfield__input" }}) }}
            {{ form_label(form.plainPassword.second, null, {'label_attr':{'class': "mdl-textfield__label"}}) }}
            </div>
    
            
	
        </div>
        <div class="mdl-card__actions mdl-card--border">
    		    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">{{ 'registration.submit'|trans }}</button>
    	    </div>
    </div>
{{ form_end(form) }}


