#eventForm{
	max-width:70%;
	min-width:50%;
	margin:auto;
}

li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
    margin-top: 20px;

}
.paddingboy{
	padding:10px;
	left: 0;
		border-top-width: 1px;
    border-top-color:rgba(255, 0, 0, .5);
    border-top-style:solid;
}

.mdl-card__supporting-text{
	margin:0;
}


.paddingbuttonboy{
	margin:10px;
	left:-25%;
	
	
}.paddingbuttongirl{
	margin:10px;
	left:30%;
	border-top-width: 1px;
    border-top-color:rgba(255, 0, 0, .5);
    border-top-style:solid;
    padding:10px;
	
}

.plusbutton{
	margin:10px;
	left:30%;
}
