.mdl-card__supporting-text {
    margin: 30px;
}

.mdl-layout__tab-panel {
    padding-top: 48px;
    padding-bottom: 48px;
}

.mdl-layout__tab_form {
    margin-left:auto;
    margin-right:0;
}

.section--center {
    max-width: 860px;
}

