body {
    background-color: #f1f1f1;
}

.color-code-row {
    max-width: 100px;
}

.container {
    max-width: 800px;
    box-shadow: 0px 0px 1px #888888;
    background-color: white;
}

.fixed-panel {
    min-height: 170px;
    max-height: 170px;
}

.glyphicon {
    margin-right: 2px;
    margin-left: 2px;
}

.image-controller {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-listitem {
    width: 110px;
    height: 210px;
    border-radius: 6px 0px 0px 6px;
}

.label-stars {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar {
    margin-bottom: 0;
}

.panel-listitem {
    margin-bottom: 0;
}

.ratings {
    text-align: center;
    font-size: 180%;
    margin-bottom: 10px;
    margin-top: 0;
}

.title {
    font-size: 50px;
}

.votes {
    padding-left: 9px;
    border-left: solid;
    border-left-width: thin;
    border-right: thin;
}










.tt-hint {
  color: #999
}

.tt-menu {
  width: 200px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*.navbar{*/
/*      position:fixed;*/
/*         z-index: 10;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    -webkit-transition: width 1000ms ease-in-out;*/
/*    -moz-transition: all 1000ms ease-in-out;*/
/*    -o-transition: all 1000ms ease-in-out;*/
/*    transition: all 1000ms ease-in-out;*/
/*}*/

/*.container{*/
/*padding-top:10%;*/
/*}*/

/*.panel-body{*/
/*    overflow-y: auto;*/
/*}*/

/*.navbar:hover{*/
/*    visibility:hidden;*/
/*}*/
