{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<form action="{{ path("fos_user_security_check") }}" method="post">
	
    {% if csrf_token %} 
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class ="user-form mdl-card mdl-shadow--2dp" >
    	<div class="mdl-card__title">
    		<h2 class="mdl-card__title-text">{{ "layout.login"|trans }}</h2>
    	</div>
		<div class="user-form-card mdl-card__supporting-text">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				<label class="mdl-textfield__label" for="username">{{ 'security.login.username'|trans }}</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <label class="mdl-textfield__label" for="password">{{ 'security.login.password'|trans }}</label>
                <input class="mdl-textfield__input" type="password" id="password" name="_password" required="required" />
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
		    <input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		</div>
	</div>
</form>
