<li><a href=[@logout]>Log out</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[@user]<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Place holder</a></li>
        <li><a href="#">Place holder action</a></li>
        <li><a href="#">Something else Place holder</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated Place holder</a></li>
    </ul>
</li>