<div class="container">

    <!--Otsikko-->
    <div class="header">
        <div id="title" class="title">
            
        </div>
        <div id="rating" class="rating">
            <!--lisää rating-->
            
                <!--lisää äänet-->
                <!--<määrä> arvostelua-->
            </span>
        </div>
    </div>

    <!-- Media -->
    <div class="image-controller">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol id="image-indicators" class="carousel-indicators">
               
            </ol>

            <!-- Wrapper for slides -->
            <div id="image-inner" class="carousel-inner" role="listbox">
               
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--Lisää tähän descriptioni-->
    <div id="description" class="well">
       
    </div>

    <!--Lisää näytökset-->
    <div class="presentatioins">
        <div class="table-responsive">
            <table id="presentations-table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="color-code-row">paikkoja</th>
                        <th>sijainti</th>
                        <th>kesto</th>
                        <th>päivämäärä</th>
                    </tr>
                </thead>
                <tbody id="presentation-body">
                    <!--<tr>-->
                    <!--    <td>-->
                    <!--        <a href="#">Valitse näytös</a>-->
                    <!--    </td>-->
                    <!--    <td class="danger">loppu</td>-->
                    <!--    <td>Helsinki Tennispalatsi</td>-->
                    <!--    <td>3h</td>-->
                    <!--    <td>12.4.2017</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--    <td>-->
                    <!--        <a href="#">Valitse näytös</a>-->
                    <!--    </td>-->
                    <!--    <td class="success">Paljon</td>-->
                    <!--    <td>Helsinki Tennispalatsi</td>-->
                    <!--    <td>3h</td>-->
                    <!--    <td>12.4.2017</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--    <td>-->
                    <!--        <a href="#">Valitse näytös</a>-->
                    <!--    </td>-->
                    <!--    <td class="warning">Vähissä</td>-->
                    <!--    <td>Helsinki Tennispalatsi</td>-->
                    <!--    <td>3h</td>-->
                    <!--    <td>12.4.2017</td>-->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
<!-- container ends -->